.checkoutproduct {
  display: flex;
  padding: 10px;
  z-index: 0;
  transition: 0s all;
}
.checkoutproduct:hover {
  z-index: 1;
  box-shadow: 0 8px 50px rgba(0, 0, 0, 0.2);
}

.checkoutproduct__image {
  min-width: 180px;
  height: 180px;
  object-fit: contain;
}
.checkoutproduct__info {
  padding-left: 20px;
}
.checkoutproduct__button {
  background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}
.checkoutproduct__rating {
  display: flex;
}
