.payment__container {
  background-color: white;
  display: flex;
  flex-direction: column;
}
.payment__container > h1 {
  text-align: center;
  background-color: rgb(234, 237, 237);
  border-bottom: 1px solid lightgray;
  font-weight: 400;
  padding: 10px;
}
.payment__container > h1 a {
  text-decoration: none;
}
.payment__address , .payment__items ,.payment__details{
  flex: 0.8;
}
.payment__section {
  display: flex;
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: 1px solid lightgray;
}
.payment__title {
  flex: 0.2;
}
.payment__priceContainer{
  display:flex;
  border:1px solid lightgray;
  align-items: center;
  
}